/*--RESPONSIVE--*/

html{font-size: 16px;}
    /*tablet*/
@media screen and (max-width:992px){
  html{font-size: 14px;}
}

/*mobile*/

@media screen and (max-width:768px){
  html{font-size: 12px;}
  .bottom-container-flights{
    flex-direction: column;
    gap: 1em;
    align-items: center;
  }
  .bottom-container-flights .all-flights{
    width:100%!important;

  }
  .advertisement {
    flex-direction: column;
    align-items: center;
  }
}

/*--GENERAL--*/

button,input, img{
  cursor: pointer;
}
.container,.header-left-section,.header-mid-section,.header-right-section{
  display: flex;
}
.header-left-section,.header-mid-section,.header-right-section{
  justify-content: space-between;
}
.container,.header-left-section,.header-mid-section,.header-right-section{
  align-items: center;
}

/*--BODY--*/

body{
    color: black;
    font-family: sans-serif;
    
    padding-top: 100px;
}

/*--HEADER--*/

header{
    height: 100px;
    background-image: linear-gradient(to right, #304352, #d7d2cc);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.container{
    justify-content: space-around;
    margin: 0 auto;
    height: 100%;
    max-width: 1400px;
    gap:1em
}

.contact-container{
  box-shadow: 1px 1px 3px #304352;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 800px;
  margin-top:100px;
  margin-left: 100px;
  margin-right: 100px;
  min-height: 500px;
}

#error-message{
  color: red;
}

#contact {
  display: flex;
  flex-direction: column;
  padding-left: 150px;
  gap: 2em;
  width: 50%;
}
.email-div input,
.message-div input{
  margin-top: 15px;
  border: 1px solid #304352;
  border-radius: 10px;
  padding: 10px 20px;
  width: 60%;
}
#contact button{
  width: 40%;
  padding: 10px 0;
  color: white;
  background-color: #304352;
  border: none;
  border-radius: 99px;
  font-size: 1.2em;
  margin-left: 100px;
}
#contact label{
  font-size: 1.2em;
  font-weight: bold;
  color: #304352;
}

.header-left-section > a{
    text-decoration: none;
    color: inherit;
    font-size: 2em;
}
.header-left-section img{
  padding-bottom: 10px;
  padding-top: 5px;
}
.header-mid-section{
    gap: 2em;
}
.header-mid-section a{
    text-decoration: none;
    color: inherit;
    font-size: 1.5em;
    transition: opacity 0.15s,
    border 0.15s;
       
}
.header-mid-section a:hover{
    border-bottom: 0.25em solid rgba(255,255,255,0.4);
    opacity: 0.8;
}
.header-right-section{
    min-width: 180px;
}
.header-right-section img{
  width:3em;
  height: 3em;
}
.search-bar-header{
  display: none;
}
.search-bar-header:target{
  display: block;
}

.header-right-section input{
  padding: 0.5em;
  width: 70%;
  border: 2px solid gray;
  border-radius: 5px;
  background-color: transparent;
}

.header-right-section .sign-in{
    padding: 0.5em 0.8em;
    border-radius: 100px;
    border: none;
    box-shadow: 2px 1px 8px rgb(64, 63, 63);
    font-size: 1.1em;
    width: 100px;
    margin-left: 1em;
    cursor: pointer;
    background-color: rgba(255,255,255,0.2);
    transition: 0.15s;
}
.header-right-section .sign-in:hover{
    background-color: rgba(255,255,255,0.4) ;
}



/*--FOOTER--*/



footer{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    height: 100px;
    background-image: linear-gradient(to right, #304352, #d7d2cc);
    padding: 10px;
  }
  .footer-links{
    display: flex;
    justify-content: center;
    gap: 1.3em;
  }
  .footer-terms{
    display: flex; 
    justify-content: space-around; 
    align-items: center;
  }
  .footer-terms .footer-terms-links{
    display: flex;
    gap: 1.3em;
    justify-content: space-around;
  }
  .footer-terms-links a{
    text-decoration: none;
    color: rgb(59, 59, 215);
  }
  .footer-terms-links a:hover{
    text-decoration: underline;
    color: rgb(33, 33, 120);
  }
  .footer-button {
    border: none;
    padding: 5px;
    border-radius:100px;
    background-color: transparent;
    box-shadow: 0 0 6px rgba(64, 64, 64, 0.5);
  }
  .footer-button img{
    width: 1.8em;
    height: 1.8em;
  }