/*--RESPONSIVE--*/

html{font-size: 16px;}
    /*tablet*/
@media screen and (max-width:992px){
  html{font-size: 14px;}
  .square {
    margin:10px!important;
  }
  .table-container {
    padding: 0!important;
  }
}
/*mobile*/

@media screen and (max-width:768px){
  html{font-size: 12px;}
  .header-right-section .sign-in {
    margin-right: -70px;
    width: 80px!important;
  }
  .log-out{
    width: 80px!important;
    margin-right: -70px;
  }
  .hamburger {
    display: block!important;
    cursor: pointer;
  }
  .header-mid-section {
    display: none!important;
  }

  .hamburger .line {
    width: 30px;
    height: 4px;
    background: black;
    margin: 6px 0;
  }
  .nav-bar-mobile.active {
    height: auto;
  }
  .nav-bar-mobile {
    display: block!important;
    height: 0;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    background: linear-gradient(to right,#304352,#d7d2cc);
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    transition: 0.5s;
  }
  .nav-bar-mobile.active ul {
    opacity: 1;
  }
  .nav-bar-mobile > ul {
    display: block;
    width: fit-content;
    margin:0 auto;
    list-style: none;
    text-align: center;
    padding-left: 0;
    transition: 0.2s;
    opacity: 0;
  }
  .nav-bar-mobile ul li a {
    display: block;
    color: inherit;
    font-size: 1.5em;
    padding: 10px 25px;
    margin-bottom: 5px;
    text-decoration: none;
    border-radius: 50px;
  }
  .nav-bar-mobile ul li a:hover{
    background-color: #304352;
    opacity: 0.8;
    color: white;
  }
  .header-right-section {
    justify-content: end!important;
  }
  .square-container {
    margin:20px!important;
    justify-content: space-around;
  }
  .square {
  margin:10px!important;
  }
  .table-container {
    margin: 0 0 20px 0!important;
    padding: 0!important;
    width: 100%!important;
    overflow-x: auto;
  }
  table {
    max-width: 100%!important;
    margin: 5px auto!important;
    border-collapse: collapse;
    background-color: white;
    text-align: center;
  }
  table td,th {
    padding: 5px!important;
  }
}
@media screen and (max-width:620px) {
  html{font-size: 10px;}

  .header-right-section .sign-in {
    margin-right: -10px;
    width: 70px!important;
  }
  .log-out {
    margin-right: -10px;
    width: 70px!important;
  }
  .header-right-section img {
    height: 3.4em!important;
    width: 3.4em!important;
  }
  .square p {
    font-size: 1.8em!important;
  }
  .square h1 {
  font-size: 2em!important;
  }
  .button-square button {
    padding: 10px 15px!important;
  }
  .square p {
    font-size: 1.5em;
  }
  table td,th {
    padding: 5px!important;
    border: 2px solid rgba(64, 64, 64, 0.8);
    border-collapse: collapse;
  }
}

/*MENU*/
.hamburger {
  display: none;
}
.nav-bar-mobile {
  display: none;
}

/*--GENERAL--*/


button,input{
  cursor: pointer;
}
.container,.header-left-section,.header-mid-section,.header-right-section{
  display: flex;
}
.header-left-section,.header-mid-section,.header-right-section{
  justify-content: space-between;
}
.container,.header-left-section,.header-mid-section,.header-right-section{
  align-items: center;
}


/*--BODY--*/

body{
    color: black;
    font-family: sans-serif;
    padding-top: 100px;
}


/*--HEADER--*/


header{
    height: 100px;
    background-image: linear-gradient(to right, #304352, #d7d2cc);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.container{
    justify-content: space-around;
    margin: 0 auto;
    height: 100%;
    max-width: 1400px;
    gap:1em
}
.header-left-section > a{
    text-decoration: none;
    color: inherit;
    font-size: 2em;
}
.header-left-section{
  height: 79px;
}
.header-left-section img{
  padding-top: 3px;
}
.header-mid-section{
    gap: 2em;
}
.header-mid-section a{
    text-decoration: none;
    color: inherit;
    font-size: 1.5em;
    transition: opacity 0.15s,
    border 0.15s;
       
}
.header-mid-section a:hover{
    border-bottom: 0.25em solid rgba(255,255,255,0.4);
    opacity: 0.8;
}
.header-right-section{
    min-width: 180px;
    gap: 1.1em;
}
.search-bar-header{
  display: none;
}
.search-bar-header:target{
  display: block;
}
.header-right-section input{
  padding: 0.5em;
  width: 70%;
  border: 2px solid gray;
  border-radius: 5px;
  background-color: transparent;
}
.header-right-section img{
  width:3em;
  height: 3em;
  padding-top: 5px;
}
.header-right-section .sign-in{
  padding: 8px 13px;
  border-radius: 100px;
  border: none;
  box-shadow: 2px 1px 8px rgb(64, 63, 63);
  font-size: 1.1em;
  width: 100px;
  margin-left: 1em;
  cursor: pointer;
  background-color: rgba(255,255,255,0.2);
  transition: 0.15s;
}
.log-out{
  padding: 8px 13px;
  border-radius: 100px;
  border: none;
  box-shadow: 2px 1px 8px rgb(64, 63, 63);
  font-size: 1.1em;
  width: 100px;
  margin-left: 1em;
  cursor: pointer;
  background-color: rgba(255,255,255,0.2);
  transition: 0.15s;
}
.header-right-section .sign-in:hover{
    background-color: rgba(255,255,255,0.4) ;
}

/*--main--*/

.square-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: space-around;
}
.square-container * {
    margin: 0;
    color: rgba(64, 64, 64, 0.8);
}
.square {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 2px solid rgba(64, 64, 64, 0.8);
    padding: 10px 20px;
    height: 160px;
    flex:1 1 200px;
    max-width: 200px;
    align-items: center;
    margin-top: 10px;
}
.text-square {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  width: 60%;
  padding: 10px 0;
}
.text-icon {
  display: flex;
  gap: 8px;
  align-items: center;
}
.text-icon img {
  width: 50px;
  height: 50px;
  padding: 10px;
}
.button-square {
  display: flex;
  gap: 0.5em;
  width: 80%;
  justify-content: space-around;
}
.button-square button{
  border-radius: 5px;
  color: white;
  background-color:rgb(48, 67, 82,0.8);
  border: none;
  margin: 5px;
  padding: 8px;
  font-weight: bold;
}
.button-square button:hover {
  box-shadow: 1px 2px 8px rgba(64, 64, 64, 0.5);
}
.square p {
    font-size: 1.5em;
}
.square h1 {
  font-size: 1.6em;
}
.users,.arrival,.suggestion,.parking,.departure {
  display: none;
}
.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2.5em auto 2.5em auto;
  padding: 1.25em;
}
table {
  width: auto;
  margin: 2.5em auto;
  border-collapse: collapse;
  background-color: white;
  text-align: center;
}
table td,th {
  padding: 1.25em;
  border: 2px solid rgba(64, 64, 64, 0.8);
  border-collapse: collapse;
}
table a img {
  width: 80%;
  height: 80%;
}

/*--FOOTER--*/



footer{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    height: 100px;
    background-image: linear-gradient(to right, #304352, #d7d2cc);
    padding: 10px;
  }
  .footer-links{
    display: flex;
    justify-content: center;
    gap: 1.3em;
  }
  .footer-terms{
    display: flex; 
    justify-content: space-around; 
    align-items: center;
  }
  .footer-terms .footer-terms-links{
    display: flex;
    gap: 1.3em;
    justify-content: space-around;
  }
  .footer-terms-links a{
    text-decoration: none;
    color: rgb(59, 59, 215);
  }
  .footer-terms-links a:hover{
    text-decoration: underline;
    color: rgb(33, 33, 120);
  }
  .footer-button {
    border: none;
    padding: 5px;
    border-radius:100px;
    background-color: transparent;
    box-shadow: 0 0 6px rgba(64, 64, 64, 0.5);
  }
  .footer-button img{
    width: 1.8em;
    height: 1.8em;
  }