
body{
    color: black;
    font-family: 'Times New Roman', Times, serif;
}
header{
    height: 100px;
    background-color: gray;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    height: 100%;
    max-width: 1400px;
}
.header-left-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-left-section > a{
    text-decoration: none;
    color: inherit;
    font-size: 1.5em;
}
.header-mid-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
}
.header-mid-section a{
    text-decoration: none;
    color: inherit;
    font-size: 1.5em;
    transition: opacity 0.15s,
    border 0.15s;
       
}
.header-mid-section a:hover{
    border-bottom: 4px solid rgba(255,255,255,0.8);
    opacity: 0.8;
}
.header-right-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 180px;
}
.header-right-section .sign-in{
    padding: 8px 13px;
    border-radius: 100px;
    border: none;
    box-shadow: 2px 2px 8px black;
    font-size: 1.1em;
    width: 100px;
    margin-left: 2em;
    cursor: pointer;
}

